.moderator .regular>.cooked {
  padding: 0;
}

.post-stream .moderator .topic-body,
.post-stream .moderator .topic-avatar,
.post-stream .whisper .topic-body,
.post-stream .whisper .topic-avatar {
  background: none;
}

.post-stream .moderator article {
  background-color: rgba(255,255,0,0.15);
  background: rgba(255,255,0,0.15);
  border-color: #880;
}

.post-stream .moderator article[data-user-id="1"] {
  background-color: rgba(90,120,255,0.15);
  background: rgba(90,120,255,0.15);
  border-color: #348;
}

.post-stream .whisper article {
  background-color: rgba(250,186,107,0.1) !important;
  background: rgba(250,186,107,0.1) !important;
  border-color: #986;
}
