body.category-moderation header.d-header,
body.category-team header.d-header{
  background-color: #f9e9d7;
}

/* Team Whispers */
.topic-post.whisper button.reply, #reply-control.composing-whisper .submit-panel button.create {
  background-color: #F7941D;
  color: white;
}
.topic-post.whisper button.reply:after {
  content: " as Whisper";
}
.topic-post.whisper nav.post-controls button.reply {
  max-width: 180px;
}

.topic-post.whisper button.create {
  white-space: nowrap;
}
.topic-post.whisper, #reply-control.composing-whisper {
  background-color: #f7edea;
}


/* Moderator Styling */
.post-stream .moderator a.main-avatar img {
  border: 2px inset yellow; margin-top: -2px; margin-left: -2px;
  box-shadow: 0px 0px 2px #880;
}
.post-stream .moderator .names, .post-stream .moderator .topic-body .names span a {
  color: #880;
}
.post-stream .moderator .topic-body {
  background-color: #ffffea;
}
.post-stream .moderator span.user-title::after {
  content: ", Moderator";
}

ul.menu-links li a.keyboard-shortcuts-link {
  display: none;
}