body.category-moderation header.d-header,
body.category-team header.d-header {
  background-color: mix($header-background, #F7941D, 92);
}

/* Team Whispers */
.topic-post.whisper button.reply .d-icon,
.topic-post.whisper button.reply,
.topic-post.whisper nav.post-controls button.reply,
.topic-post.whisper nav.post-controls button.reply .d-icon,
#reply-control.composing-whisper .submit-panel button.create,
#reply-control.composing-whisper .submit-panel button.create .d-icon {
  background-color: #F7941D;
  color: white;
}
.topic-post.whisper button.reply:after {
  content: " as Whisper";
}
.topic-post.whisper nav.post-controls button.reply {
  max-width: max-content;
}

.topic-post.whisper button.create {
  white-space: nowrap;
}
.topic-post.whisper .topic-body {
  background-color: rgba(250,186,107,0.1) !important;
  background: rgba(250,186,107,0.1) !important;
  border-color: #986;
}

#reply-control.composing-whisper {
  background-color: mix($header-background, #F7941D, 92) !important;
}


/* Moderator Styling */
.moderator .regular>.cooked {
  background: none;
}

.post-stream .moderator .topic-body,
.post-stream .moderator .topic-avatar {
  background-color: rgba(255,255,0,0.15);
  background: rgba(255,255,0,0.15);
  border-color: #880;
}

.post-stream .moderator a.main-avatar img {
  border: 2px inset yellow; margin-top: -2px; margin-left: -2px;
  box-shadow: 0px 0px 2px #880;
}
.post-stream .moderator .names, .post-stream .moderator .topic-body .names span a {
  color: #880;
}

.post-stream .moderator span.user-title::after {
  content: "Moderator";
  font-weight: bold;
  color: #880;
}

ul.menu-links li a.keyboard-shortcuts-link {
  display: none;
}
.moderator .clearfix>.topic-meta-data>.names span.user-title a {
  background: none;
}