.post-stream .moderator .topic-body, .post-stream .moderator .topic-avatar {
    border-top: 1px solid #880;
}
.post-stream .moderator .topic-body, .post-stream .topic-post.moderator .post-menu-area {
  background-color: #ffffea;
  background: #ffffea;
  border-color: #880;
}

.topic-post.whisper .topic-body {
  background-color: #f7edea;
  background: #f7edea;
  border-color: #986;
}