.post-stream .moderator .topic-body, .post-stream .moderator .topic-avatar {
  border-top: 1px solid #880;
}

.topic-post.whisper .topic-avatar {
  background-color: rgba(250,186,107,0.1) !important;
  background: rgba(250,186,107,0.1) !important;
  border-color: #986;
}
